$breakpoints: (
  wide: 1920px,
  desktop: 1440px,
  laptop: 1024px,
  tablet: 768px,
  mobile: 480px
);

@mixin respond($point) {
  @if map-has-key($breakpoints, $point) {
    @media (max-width: map-get($breakpoints, $point)) {
      @content;
    }
  } @else {
    @warn "Брейкпоинт #{$point} не найден!";
  }
}