@use "breakpoints" as *;

.desc__wrapper {
    padding: 120px 140px 180px;
    max-width: 1920px;
    margin: 0 auto;

    @include respond(desktop) {
        padding: 120px 100px 150px;
    }

    @include respond(laptop) {
        padding: 100px 80px 150px;
    }

    @include respond(mobile) {
        padding: 40px 20px;
    }
}

.desc__title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 90px;

    @include respond(desktop) {
        font-size: 28px;
    }
}

.desc__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(laptop) {
        gap: 20px;
    }

    @include respond(mobile) {
        flex-direction: column;
    }
}

.line {
    height: 1px;
    background-color: #e0e0e0;
    display: block;
    flex: 1;
}

.desc__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 1;
}

.desc__item img {
    @include respond(laptop) {
        width: 80px;
        max-width: none;
    }
}

.desc__text {
    font-size: 14px;
    text-wrap: nowrap;

    position: absolute;
    bottom: -50px;
}
