@use "breakpoints" as *;

.desc__wrapper {
    padding: 120px 140px 180px;
    max-width: 1920px;
    margin: 0 auto;

    @include respond(desktop) {
        padding: 120px 100px 150px;
    }

    @include respond(laptop) {
        padding: 100px 80px 150px;
    }

    @include respond(mobile) {
        padding: 40px 20px 60px;
    }
}

.desc__title {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 90px;

    @include respond(desktop) {
        font-size: 28px;
    }

    @include respond(mobile) {
        font-size: 22px;
        margin-bottom: 60px;
    }
}

.desc__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(laptop) {
        gap: 20px;
    }

    @include respond(mobile) {
        display: grid;
        justify-content: normal;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }
}

.desc__list li:last-child {
    @include respond(mobile) {
        grid-column: 1 / -1;
        justify-self: center;
    }
}

.line {
    height: 1px;
    background-color: #e0e0e0;
    display: block;
    flex: 1;

    @include respond(mobile) {
        display: none;
    }
}

.desc__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 1;
}

.desc__item img {
    @include respond(laptop) {
        width: 80px;
        max-width: none;
    }
}

.desc__text {
    font-size: 14px;
    white-space: nowrap;

    position: absolute;
    bottom: -50px;

    @include respond(mobile) {
        position: initial;
        font-size: 16px;
        text-align: center;
        white-space: wrap;
    }
}
