@use "breakpoints" as *;

.gallery {
    width: 100%;
    padding: 100px 0;

    @include respond(desktop) {
        padding: 80px 0;
    }

    @include respond(mobile) {
        padding: 80px 50px;
    }
}

.gallery__wrapper {
    position: relative;
}

.gallery .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* чтобы не вылезала картинка при scale */
    border-radius: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.gallery img:hover {
    transform: scale(1.1);

    @include respond(mobile) {
        transform: none;
    }
}

.gallery__title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;

    @include respond(desktop) {
        margin-bottom: 80px;
    }

    @include respond(mobile) {
        margin-bottom: 40px;
        font-size: 26px;
    }
}

.gallery-button-next {
    right: -40px !important;
    top: 190px !important;

    &::after {
        font-size: 26px !important;
        color: #c2c2c2;
    }
}

.gallery-button-prev {
    left: -40px !important;
    top: 190px !important;

    &::after {
        font-size: 26px !important;
        color: #c2c2c2;
    }
}

.gallery-pagination {
    bottom: -35px !important;
}

.gallery-pagination .swiper-pagination-bullet-active {
    background: #999999;
}

@media (min-width: 480px) {
    .gallery-button-next,
    .gallery-button-prev,
    .swiper-pagination {
        display: none !important;
    }
}
