@use "breakpoints" as *;
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px clamp(100px, 8vw, 140px);
    align-items: flex-start;
    max-width: 1920px;
    margin: 0 auto;

    @include respond(laptop) {
        padding: 40px 80px;
    }

    @include respond(mobile) {
        padding: 30px 20px;
    }
}

.header__logo {
    display: flex;
    gap: 20px;
    align-items: center;

    @include respond(mobile) {
        width: 70px;
    }
}

.header__logo span {
    font-size: 16px;

    @include respond(mobile) {
        font-size: 14px;
        white-space: nowrap;
    }
}

.header__side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__nav ul {
    display: flex;
}

.header__line {
    background-color: #fff;
    height: 1px;
    width: 210px;
    margin-right: 20px;
    display: block;
    position: absolute;
    top: 50%;
}

.header__link {
    padding: 20px;
    position: relative;
    display: block;
    font-size: 22px;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 15px;
    width: 0;
    height: 1px;
    background: #cb2915;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    @include respond(mobile) {
        content: none;
    }
}

.header__link:hover::after {
    width: calc(100% - 20px);
}

.header__phone {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.15s ease;
}

.header__phone:hover {
    color: #cb2915;
}

.burger {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    mix-blend-mode: difference;

    @include respond(mobile) {
        right: 20px;
        width: 40px;
    }
}

.burger span {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.burger.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

@media (max-width: 1024px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 0 0 0 20px;
        width: 350px;
        height: auto;
        background: #fff;
        box-shadow: -2px 0 15px rgba(0, 0, 0, 0.15);
        padding: 100px 40px 50px;
        transform: translateX(120%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__link-main {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-image: url(../img/home-icon.svg);
            opacity: 0.3;
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto 0;
            bottom: 0;
        }
    }

    .header__link-car {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            opacity: 0.3;
            height: 30px;
            background-image: url(../img/car-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto 0;
            bottom: 0;
        }
    }

    .header__link-rent {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            opacity: 0.3;
            right: 0;
            width: 30px;
            height: 30px;
            background-image: url(../img/rental-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto 0;
            bottom: 0;
        }
    }

    .header__link-price {
        &::before {
            content: "";
            opacity: 0.3;
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-image: url(../img/ruble-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto 0;
            bottom: 0;
        }
    }

    .header__link {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        padding: 20px 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .header__line {
        display: none;
    }

    .header__phone {
        display: block;
        margin-top: 20px;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #000;
    }

    .header__nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header__nav.active {
        transform: translateX(0); /* выезжает */
    }
}

.header__nav {

    @include respond(mobile) {
        transform: translateY(-120%);
        align-items: stretch;
        width: 100%;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    }
}