
.slide-1 {
    background: #1F1F1F;
}

.slide-2 {
    background: #29253B;
}

.slide-3 {
    background: #0C0C0C;
}

.hero__wrapper {
    padding: 230px clamp(100px, 8vw, 140px) 0 clamp(100px, 8vw, 140px);
    display: flex;
    justify-content: space-between;
}

.hero__title {
    color: #E1E1E1;
    font-size: clamp(24px, 4vw, 46px);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero__car-name {
    font-size: clamp(24px, 4vw, 78px);
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;
}

.hero__image {
    width: 50vw;
}

.slide-1 .hero__image {
    img {
        animation: glow-1 5s infinite linear;
    }
}

.slide-2 .hero__image {
    img {
        animation: glow-1 5s infinite linear;
    }
}

.slide-3 .hero__image {
    width: 70vw;

    img {
        animation: glow-1 5s infinite linear;
    }
}

@keyframes glow-1 {
  0%   { filter: drop-shadow(0 0 80px #323232); }
  50%  { filter: drop-shadow(0 0 80px #797979); }
  100% { filter: drop-shadow(0 0 80px #323232); }
}

@keyframes glow-2 {
  0%   { filter: drop-shadow(0 0 80px #3B3653); }
  50%  { filter: drop-shadow(0 0 80px #756aa7); }
  100% { filter: drop-shadow(0 0 80px #3B3653); }
}

@keyframes glow-3 {
  0%   { filter: drop-shadow(0 0 80px #2E2E2E); }
  50%  { filter: drop-shadow(0 0 80px #616161); }
  100% { filter: drop-shadow(0 0 80px #2E2E2E); }
}

.hero__car-price {
  font-size: 36px;
  color: #CB2915;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero__btn {
  background-color: #737373;
  padding: 18px 40px;
  font-size: 22px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.hero__btn:hover {
    background-color: #CB2915;
}

.swiper {
    height: 100vh;
}