@use "breakpoints" as *;

.hero .container {
    @include respond(laptop) {
        height: auto;
    }
}

.slide-1 {
    background: #1f1f1f;
}

.slide-2 {
    background: #29253b;
}

.slide-3 {
    background: #0c0c0c;
}

.hero__wrapper {
    padding: 50px clamp(40px, 8vw, 150px) 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include respond(desktop) {
        padding: 50px 100px 0;
    }

    @include respond(laptop) {
        grid-template-columns: auto auto;
        padding: 180px 80px 150px;
        gap: 50px;
    }

    @include respond(tablet) {
        display: grid;
        grid-template-columns: auto;
        padding-left: 60px;
        padding-right: 60px;
        align-items: stretch;
        padding-top: 180px;
        padding-bottom: 180px;
        gap: 40px;
    }

    @include respond(mobile) {
        padding-left: 20px;
        padding-bottom: 180px;
        padding-right: 20px;
    }
}

.hero__title {
    color: #e1e1e1;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;

    @include respond(laptop) {
        font-size: 36px;
    }

    @include respond(tablet) {
        line-height: 1.4;
        margin-bottom: 20px;
        text-align: center;

        br {
            display: none;
        }
    }

    @include respond(mobile) {
        font-size: 26px;
        line-height: 1.4;
        margin-bottom: 20px;

        br {
            display: initial;
        }
    }
}

.hero__car-name {
    font-size: clamp(36px, 4.5vw, 78px);
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;

    @include respond(laptop) {
        font-size: 38px;
    }

    @include respond(tablet) {
        font-size: 64px;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 10px;
    }

    @include respond(mobile) {
        font-size: 58px;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.slide-1 .hero__image {
    img {
        animation: glow-1 5s infinite linear;
    }
}

.slide-2 .hero__image {
    img {
        animation: glow-2 5s infinite linear;
    }
}

.slide-3 .hero__image {
    img {
        animation: glow-3 5s infinite linear;
    }
}

@keyframes glow-1 {
    0% {
        filter: drop-shadow(0 0 80px #323232);
    }
    50% {
        filter: drop-shadow(0 0 100px #797979);
    }
    100% {
        filter: drop-shadow(0 0 80px #323232);
    }
}

@keyframes glow-2 {
    0% {
        filter: drop-shadow(0 0 80px #3b3653);
    }
    50% {
        filter: drop-shadow(0 0 100px #886aa7);
    }
    100% {
        filter: drop-shadow(0 0 80px #3b3653);
    }
}

@keyframes glow-3 {
    0% {
        filter: drop-shadow(0 0 80px #2e2e2e);
    }
    50% {
        filter: drop-shadow(0 0 100px #616161);
    }
    100% {
        filter: drop-shadow(0 0 80px #2e2e2e);
    }
}

.hero__car-price {
    font-size: 36px;
    color: #cb2915;
    font-weight: 600;
    margin-bottom: 30px;

    @include respond(laptop) {
        font-size: 28px;
    }

    @include respond(tablet) {
        text-align: center;
        margin-bottom: 0;
        font-size: 34px;
    }

    @include respond(mobile) {
        text-align: center;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.hero__btn {
    background-color: #737373;
    padding: 18px 40px;
    font-size: 22px;
    font-weight: 400;
    transition: all 0.3s ease;

    @include respond(laptop) {
        font-size: 18px;
        padding: 14px 40px;
    }

    @include respond(tablet) {
        position: absolute;
        display: flex;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 250px;
        padding: 14px 25px;
    }

    @include respond(mobile) {
        position: absolute;
        display: block;
        bottom: 70px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 200px;
        padding: 12px 30px;
    }
}

.hero__btn:hover {
    background-color: #cb2915;
}

.hero__swiper {
    height: 100vh;
}
