@use "breakpoints" as *;
@use "reset";
@use "header";
@use "hero";
@use "features";
@use "plans";
@use "desc";
@use "app";
@use "gallery";
@use "modal";
@use "faq";
@use "footer";

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
