.plans .container {
    height: inherit;
}

.plans__wrapper {
    padding: 80px 100px 100px;
}

.plans__title {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    margin-bottom: 120px;
}

.plans__swiper .swiper-slide {
    display: flex;
}

.card {
    background-color: #e6e6e6;
    border: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    border-radius: 35px;
    border: 1px #afafaf solid;
}


.card__image {
    padding: 30px;
    margin: auto;
}

.card__desc {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9d9d9;
    padding: 50px 40px;
    border-radius: 35px 0 0 35px;
}

.card__title {
    color: #393939;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 70%;
        background-color: #bcbcbc;
    }
}

.card__subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.card__subtitle span {
    color: #cb2915;
}

.card__c-text {
    font-weight: 500;
    margin-bottom: 5px;
}

.card__list {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    list-style: circle;
    gap: 3px;
    margin-bottom: 30px;
}

.card__item {
    font-size: 12px;
}

.card__btn {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: transparent;
    font-weight: 400;
    color: #000;
    border: 1px #878787 solid;
    font-size: 14px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: color 0.3s ease;

    span {
        color: #cb2915;
        transition: color 0.3s ease;
    }
}

.card__btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #878787;
    z-index: -1;
    transition: height 0.3s ease;
}

.card__btn:hover::before {
    height: 100%;
}

.card__btn:hover {
    color: #fff;

    span {
        color: #fff;
    }
}

.plans__swiper {
  overflow: visible !important;
}

.plans__swiper .swiper-slide {
  width: 50vw;
  height: 450px;
  margin: 0;
  transform: scale(1) !important;
  transition: all 0.4s ease !important;
  opacity: 0.4;
}

.plans__swiper .swiper-slide-active {
  transform: scale(1.2) !important;
  box-shadow: 0 0 30px 0 #7979795b;
  z-index: 1;
  opacity: 1;
}

.swiper-button-next {
    color: #393939 !important;
    right: 100px !important;
    filter: drop-shadow(0 0 10px #393939);
    animation: move-next 4s infinite linear;
}

@keyframes move-next {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.swiper-button-prev {
    color: #393939 !important;
    left: 100px !important;
    filter: drop-shadow(0 0 10px #393939);
    animation: move-prev 4s infinite linear;
}

@keyframes move-prev {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
