@use "breakpoints" as *;

.back-btn {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 70px;
    height: 70px;
    background-color: #cb2915;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    z-index: 1000;
    text-decoration: none;

    @include respond(mobile) {
        top: 30px;
        left: 30px;
        width: 50px;
        height: 50px;
    }
}

.back-btn:hover {
    background-color: #a32211;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

.back-btn svg {
    width: 40px;
    height: 40px;

    @include respond(mobile) {
        width: 30px;
        height: 30px;
    }
}

.app-rent {
    position: relative;
    background-color: #eeeeeeae;
}

.app-rent__wrapper {
    padding: 60px 150px 90px 150px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;

    @include respond(desktop) {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding-left: 80px;
        padding-right: 80px;
    }

    @include respond(laptop) {
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: 1fr 1.4fr;
        gap: 60px;
    }

    @media (max-width: 830px) {
        display: flex;
        padding: 60px 20px;
        flex-direction: column;
    }
}

.app-rent__image {
    height: auto;
    max-width: 500px;
    overflow: hidden;

    img {
        object-fit: cover;
        filter: grayscale(30%);
        border-radius: 30px;
    }

    @include respond(laptop) {
        img {
            object-position: center;
        }
    }

    @include respond(mobile) {
      width: auto;
    }
}

.app-rent__container {
    padding: 60px 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1000px;
    box-shadow: 0 0 8px 1px #d1d1d1;
    align-items: center;
    border-radius: 30px;

    @include respond(tablet) {
        border: none;
        padding: 40px 0;
    }
}

.app-rent__title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;

    @include respond(mobile) {
        font-size: 20px;
    }
}

.inner-form-wrap {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    @include respond(mobile) {
        flex-direction: column;
    }
}

.app__form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;

    @include respond(mobile) {
        align-items: stretch;
    }
}

.app__checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(mobile) {
        align-items: stretch;
    }
}

.app-rent .telegram-btn {
    display: flex;
    cursor: pointer;
    width: auto;
    border: 1px solid #393939;
    border-radius: 25px;
    padding: 10px 30px 10px 70px;
    height: 50px;
    justify-content: center;
    font-weight: 500;
    background-color: #eeeeeeae;
    color: #393939;
    position: relative;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 3px 10px rgba($color: #393939, $alpha: 0.3);
    transition: all 0.3s ease;
    margin-bottom: 40px;
}

.app-rent .telegram-btn:hover {
    background-color: #393939;
    color: #fff;

    svg {
        fill: #fff;
    }
}

.telegram-btn svg {
    position: absolute;
    fill: #393939;
    left: 15px;
    top: 0;
    margin: auto 0;
    bottom: 0;
    height: 30px;
}

.app-rent__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__group {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: center;

    @include respond(mobile) {
        flex-direction: column;
    }
}

.app__group:last-of-type {
    margin-bottom: 30px;
}

.app-rent .app__label {
    font-size: 18px;
    color: #6c6c6c;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s ease;
}

.app__input {
    width: 100%;
    height: 50px;
    border: none;
    color: #393939;
    background-color: transparent;
    border-bottom: 1px solid #d4d4d4;
    padding: 0;
    font-size: 20px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
        border-color: #393939;
    }

    &::placeholder {
        color: #c5c5c5;
    }
}

.app__label:has(.app__input:focus),
.app__label:has(.app__input:focus-visible) {
    color: #393939;
}

.app-rent .form__btn {
    color: #fff;
    border-radius: 30px;
    padding: 12px 100px;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 1px 15px 5px rgba(57, 57, 57, 0.3);
    background: linear-gradient(90deg, #535353 0%, #393939 100%);
    transition: all 0.3s ease;
}

.form__btn:hover {
    box-shadow: none;
    scale: 1.02;
}

.form__btn:active {
    transform: scale(0.98);
}

.weight-options {
    display: flex;
    border: 1px solid #cb2915;
    border-radius: 6px;
    overflow: hidden;
    background: #ffffff00;

    @include respond(mobile) {
        flex-direction: column;
    }
}

.weight-options label {
    cursor: pointer;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #444;

    @include respond(mobile) {
        font-size: 22px;
    }
}

.weight-options input {
    display: none; /* прячем стандартный radio */
}

.weight-options input:checked + span {
    background: #cb2915; /* выделение выбранного */
    color: #fff;
}

.weight-options span {
    padding: 8px 20px;
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid #cb2915;
    transition: all 0.3s ease;

    @include respond(desktop) {
        padding: 8px 16px;
    }
}

.weight-options label:last-child span {
    border-right: none; /* убираем границу у последнего */
}

/* Общий стиль для range */
#distance {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(
        to right,
        #cb2915 0%,
        #cb2915 0%,
        #ddd 0%,
        #ddd 100%
    );
    outline: none;
    transition: background 0.3s ease;
}

/* Ползунок (thumb) */
#distance::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cb2915;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        background 0.2s ease;
}

#distance::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #a71f10;
}

/* Для Firefox */
#distance::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cb2915;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        background 0.2s ease;
}

#distance::-moz-range-thumb:hover {
    transform: scale(1.2);
    background: #a71f10;
}
