body {
  font-family: "Montserrat", sans-serif;
}

.hero {
    height: 100vh;
    background: radial-gradient(105.69% 48.41% at 68% 60%,rgba(50.01921463012695, 50.01921463012695, 50.01921463012695, 1),rgba(31.13937759399414, 31.13937759399414, 31.13937759399414, 1) 100%);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  color: #fff;
}

.header__logo {
    display: flex;
}